In [1]:
import numpy as np
import pandas as pd

In [8]:
def tax_credit(income=52594, fam_size=3, lowest_2 = 543):
    income = 41000
    poverty_threshold = 12490 + 4420*(fam_size-1)
    percent_poverty = income/poverty_threshold
    if  percent_poverty <= 1.33:
        rate = .0206
    elif percent_poverty <= 1.5:
        rate = .0309+(((percent_poverty-1.33)/(1.5-1.33))*(.0412-.0309))
    elif percent_poverty <= 2:
        rate = .0412+(((percent_poverty-1.5)/(2-1.5))*(.0649-.0412))
    elif percent_poverty <= 2.5:
        rate = .0649+(((percent_poverty-2)/(2.5-2))*(.0829-.0649))
    elif percent_poverty <= 3:
        rate = .0829+(((percent_poverty-2.5)/(3-2.5))*(.0978-.0829))
    elif percent_poverty <= 4:
        rate = .0978
    else:
        return 0
        
#     return 2nd_lowest*(1-rate)
    pass

In [34]:
def determine_area(zipcode):
    area = pd.read_csv('data/clean_files/area_FL.csv')
    area.dropna(inplace=True)  
    plans = area[area['zipcode']== zipcode]
    area_key = fred[['IssuerId','ServiceAreaId']]
    area_key.reset_index()
    area_key['IssuerId']=area_key['IssuerId'].astype(int)
    return area_key

In [24]:
area = pd.read_csv('data/clean_files/area_FL.csv')
area.dropna(inplace=True)
area['IssuerId']=area['IssuerId'].astype(int)
area.head()

   Unnamed: 0  zipcode  County County_Name  IssuerId ServiceAreaId
0           0    32609   12001     Alachua     21663        FLS001
1           1    32609   12001     Alachua     30252        FLS001
2           2    32609   12001     Alachua     30252        FLS002
3           3    32609   12001     Alachua     16842        FLS001
4           4    32622   12001     Alachua     21663        FLS001

In [13]:
fred = area[area['zipcode']== 32609]
mark=fred[['IssuerId','ServiceAreaId']]

   IssuerId ServiceAreaId
0   21663.0        FLS001
1   30252.0        FLS001
2   30252.0        FLS002
3   16842.0        FLS001

In [45]:
areas=determine_area(32609)
areas.sort_index()

C:\Users\mike\Anaconda3\envs\tf-gpu-cuda8\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   IssuerId ServiceAreaId
0     21663        FLS001
1     30252        FLS001
2     30252        FLS002
3     16842        FLS001

In [53]:
attr = pd.read_csv('data/clean_files/attr_FL.csv')

In [51]:
def attr_by_area(df):
    ben = pd.read_csv('../data/clean_files/benefits_covered_FL.csv')
    keys = df.
    i1 = attr.set_index(keys).index
    i2 = areas.set_index(keys).index
    attr_clean = pd.merge(df,ben)
    return attr_clean

In [57]:
attr_zipcode=attr_by_area(areas)
#attr_zipcode

In [63]:
def ben_for_area(df):
    ben= pd.read_csv('data/clean_files/attr_FL.csv')
    ben.drop_duplicates(keep='first', inplace=True)
    attr__ben_clean = pd.merge(df,ben, how='left', on= '12379FL0010001-01')
    return attr_ben_clean

In [64]:
ben_attr=ben_for_area(attr_zipcode)

KeyError: '12379FL0010001-01'